h1 { padding: 10px; background: linear-gradient(to bottom right, green, yellow); }

body { background: linear-gradient(blue, skyblue); }

.container { background: #fff; margin-left: 50px; margin-right: 50px; }

button { margin-left: 5px; margin-right: 5px; }
