h1, body, h2, p { margin: 0px; }

h1 { padding: 10px; background: linear-gradient(to bottom right, green, yellow); }

body { background: linear-gradient(blue, skyblue); padding: 0% 10%; }

.container { background: #fff; }

button { margin-left: 5px; margin-right: 5px; }
