$bg: linear-gradient(blue, skyblue);
$h1bg: linear-gradient(to bottom right, green, yellow);

h1, body, h2, p{
    margin: 0px;
}

h1{
    padding: 10px;
    background: $h1bg;
}

body{
    background: $bg;
    padding: 0% 10%;
}

.container{
    background: #fff;
}

button{
    margin-left: 5px;
    margin-right: 5px;
}