$bg: linear-gradient(blue, skyblue);
$h1bg: linear-gradient(to bottom right, green, yellow);

h1{
    padding: 10px;
    background: $h1bg;
}

body{
    background: $bg;
}

.container{
    background: #fff;
    margin-left: 50px;
    margin-right: 50px;
}

button{
    margin-left: 5px;
    margin-right: 5px;
}